### There are 3 kinds of consultation.

1. **Exploratory conversation** (20-30mins £0) - if you want to explore whether Acupuncture might be able to help you, have some questions or want to speak with me to see if I am the right practitioner for you.
2. **Full Initial Consultation** (90mins £75) - We fully discuss your  and ,  I make a diagnosis and carry out your first treatment
3. **Follow-up treatments** (30mins-60mins £60) - Treatment sessions after the initial consultation, we review progress and continue treatment.


#### 1. Exploratory Consultation (20-30mins £0)
This lasts up to 30minutes and is to help people who aren't sure if Acupuncture is the right choice or you want to decide if I am the right Acupuncturist for you.
In this kind of session you can ask any questions you want, if you are happy for me to do so then I will ask you about what you want help with, this allows me to give you a good idea of whether Acupuncture can help you.

An exploratory consultation can happen over the phone or at the clinic.

> I want you to able to decide if Acupuncture is right for you without any pressure so there is no cost for this session or any obligation to book treatment.  You don't need to make any decisions when we meet.

The relationship with the practitioner is important for treatment so if for whatever reason you don’t feel I am the right practitioner for you then please don’t feel awkward about this, just let me know, connections between people are subtle  so I will completely understand this, letting me know allows me to give you the details of  other reliable, experienced practitioners in the area.

#### 2. Full Initial Consultation (90mins £75)
This lasts about 90mins and includes your first treatment. 
We fully explorewhat you want help with. Part fo the process is fully exploring your health and well-being. You do not have to talk about anything you do not feel comfortable talking about, but being able to get a detailed, complete picture of your health and wellbeing is what allows me to give you the best results from your treatment so it is best to be as open as you are able. Sometimes though, people I meet with have had very difficult experiences so if it doesn't feel like the right time to share something in the first session, that is absolutely fine, you are in control of what you share in any of our sessions. 

In this discussion I often ask questions about things that may appear to be unconnected to the issues you want help with, some people are surprised by this. One of the great strengths of Chinese medicine is that it allows us to understand the connections between apparently unconnected aspects of health and then treat accordingly. Getting a complete picture of your health is what gives me the information I need to piece together a personal, individual understanding of your situation. This diagnosis is what allows me to work out what will help you best.

Anything you tell me is strictly confidential. As a member of the British Acupuncture Council I work to the  highest professional standards of Acupuncture practise. These require that any information that you share and even the fact that you have come for treatment is kept completely confidential.

Depending on what you need help with I may also need to do some physical diagnosis. So for example, I may need you to walk around so that I can see if there are any imbalances when you walk, or  I may need to gently press points on your abdomen chest or limbs to see if these are tender. I may also take your blood pressure or measure your breath with a peak flow meter just as you would at the doctors. If you do prefer me not to carry out any part of this diagnosis then that is fine, just let me know.

I will take your pulse and take a look at your tongue as these are important parts of Chinese Medical diagnosis and also provide me with feedback during treatment.

#### 3. Subsequent Treatments (30mins-1hr £60)
Each treatment takes between 40- 60 minutes and starts with us having a brief chat to review your progress since we last met and to see if any new issues have arisen since then. We discuss the next step in your treatment to make sure you are comfortable with the treatment approach and then continue with treatment.
