{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar

	Description:

		Generates the sidebar content.

	Example:

		{% include layout/sidebar.html %}

{% endcomment %}

<!-- Sidebar -->
	<div class="sidebar">

		{% capture tagvar %}{{page.testimonialtagvar}}{% endcapture %}
                        {% include components/testimonials.html customtag=tagvar%}
			
		<hr />
		<section>
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/images/uploads/BAcC_Member_Pos_RGB.png" alt="British Acupuncture Council Member Logo" /></a>
			<h3>Expertise and standards</h3>
			<p>I am a full member of the British Acupuncture Council, the UK's foremost body governing authentic Traditional Acupuncturists. This signifies that I have completed the highest standards of training and practise to the highest standards. </p>
			<b>BAcCMember N o.:  960470 </b>
			<footer>
				<ul class="actions">
					<li><a href="/about-me/professional-standards.html" class="button">Learn More</a></li>
				</ul>
			</footer>
		</section>

	</div>