{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Default layout

	Description:

		Basic HTML foundation for all pages.

	Example:

		---
		layout: default
		---

{% endcomment %}

<!DOCTYPE HTML>
<html>
	<head>
            {% gtm head %}
            
            <title>
                {% if page.title-tag %}
                  {{ page.title-tag }}
                {% else %}
                  {{ page.title }} | Clear Spring Acupuncture
                {% endif %}
            </title>
            
            {% seo title=false %}
            
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>
                <link href="{{ site.baseurl }}/assets/css/featherlight.min.css" type="text/css" rel="stylesheet" />
                <link href="{{ site.baseurl }}/assets/css/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
	</head>
        
        
	<body class="is-preload">
{% gtm body %}
		{% include layout/header.html class=page.header_class %}

		{{ content }}

		{% include layout/footer.html %}

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>
                        <script src="{{ site.baseurl }}/assets/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
                        <script src="{{ site.baseurl }}/assets/js/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>