---
layout: default
<!--header_class: alt-->

---
{% comment %}
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
	Name:
		Home page
	Description:
		Site home page.
{% endcomment %}

{% include components/banner.html customtag="slider-home-main" darkback=true %}

<!-- One -->
	<section id="one" class="wrapper content-pad">
		<div class="inner">
                    <section class="spotlight-flip">
				<div class="content">
                                    <h2>Discover Professional, Authentic Acupuncture, Delivered with Heart.</h2>
                                    <p>If something is getting in the way of you living your life, now is probably the best time to do something about it.<br>
                                        Since completing my Acupuncture degree and starting my Cardiff practice in 2012, I have seen Acupuncture provide relief and freedom to hundreds of people in Cardiff, young and old, with all kinds of physical and emotional concerns. It is a genuinely remarkable form of treatment, safe, minimal and gentle but with long-lasting and wide-ranging effects; even after many years of practise it inspires me more with what it can do for us.
                                    </p>
                                    <blockquote class="emph">
                                        I want you to be able to benefit from this amazing form of medicine so I really hope you will take action to get in touch now so we can explore if it can help you. </blockquote>
 
    <ul class="actions">
            <li><a href="/how-to-book.html" class="button">Book Here</a></li>
            <li><a href="#contact-trigger" class="button">Contact Me</a></li>
            <li><a href="#three" class="button">What I Treat</a></li>
            <li><a href="/where-are-the-clinics.html" class="button">Cardiff Clinic Locations</a></li>
    </ul>  
                                        
				</div>
				<span class="content content-minor"> {% include components/testimonials.html  %}</span>
                    </section>
		</div>
	</section>
	<section id="covid" class="wrapper content-pad">
		<div class="inner">
                    <section class="spotlight-flip">
                         <div class="content content-minor"> <img src="images/uploads/icon-covid-secure-800.png?nf_resize=fit&w=450" /> </div>
				<div class="content ">
                                    <h2>COVID-19 SECURE PRACTISE INFORMATION(last </h2>
 <p><b>Acupuncturists are currently allowed to practise and I have in place officially designed precautions to keep you safe.</b>
     
     <br>If you are unable to attend clinic but need assistance, there are ways in which I can help you self-treat using Acupressure and other techniques. You can also find information about how the practise is kept COVID secure so you are kept safe.</p>
  <ul class="actions">
            <!--<li><a href="/self-treatment-during-lockdown.html" class="button">When will I open</a></li>-->
            <li><a href="/covid-how-i-keep-you-safe.html" class="button">COVID-19 Safety Information</a></li>
            <li><a href="#contact-trigger" class="button contact-trigger">Contact me</a></li>
    </ul>
 <a href="/self-treatment-during-lockdown.html#self_treatment" class="button fit primary icon fa-binoculars">Explore how I can support you to self-treat</a>
				</div>
                    </section>
              

<!-- Two -->
	<section id="two" class="wrapper content-pad">
		<div class="inner">
			{% include components/features.html features=page.features width="" %}
		</div>
	</section>

<!-- three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			{% include components/navtiles.html customtag="tiles-home" title="What I treat" navtiles_paragraph=page.navtiles_paragraph %}
		</div>
	</section>


{% comment %}
<!-- four -->
        <section id="four" class="wrapper style2">
		<div class="inner">
			<h2>Latest Blogs</h2>
			{% include components/posts.html posts=page.posts %}
		</div>
	</section>
{% endcomment %}